<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test name="AllTests">
        <classes>
            <class name="Tests.Logintest"/>
            <class name="Tests.Carttest"/>
            <class name="Tests.Checkouttest"/>
            <class name="Tests.E2Etest"/>
        </classes>
    </test>
</suite>